.detailed-antd-animal-card {
 display: flex;
 justify-content: center;
 margin: 7rem;
}

.detailed-animal-image {
  max-width: 100%;
  height: auto;
}

/* .detailed-animal-card {
  height: 50vh;
  width: 100%;
  margin: 7rem;
  display: flex;
  border-style: dashed;
  border-color: turquoise;
}

.detailed-animal-card-text {
  font-family: Roboto;
  margin: 30px;
  box-sizing: inherit;
} */
