.detailed-antd-animal-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
  text-align: center;
  text-overflow: auto;
  width: 100vw;
  height: auto;
  margin: auto;
}

.detailed-antd-animal-card .ant-card-body {
  height: unset;
}

.detailed-antd-animal-card > * {
  margin: 1rem;
}

.detailed-animal-image {
  object-fit: contain;
  height: auto;
  width: 80%;
  /* aspect-ratio: 16/9; */
}


