.logged-in-status {
  display: flex;
  justify-content: flex-end;
  background-color: teal;
  min-height: 10vh;
}

.logged-in-status-header {
  padding-right: 1rem;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: teal;
  min-height: 17vh;
}

.route-links {
  color: white;
  display: flex;
  padding: 0.55rem;
}

.link-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.brand-logo-image {
  height: 70px;
  width: auto;
  aspect-ratio: 13/9;
}

.main-social-container {
  display: flex;
  justify-content: space-between;
}

.logo-img {
  width: 40px;
  height: 40px;
  padding: 3px;
}

.social-container {
  display: flex;
  justify-content: flex-end;
}
