.card-image {
  object-fit: cover;
  height: auto;
  aspect-ratio: 7.75/9;
}

.card-text {
  text-align: center;
}

.ant-card-body {
  padding: 0;
  height: 13rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.antd-animal-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1.5rem;
  border: 2px solid turquoise;
  height: fit-content;
  text-align: center;
}

.home-page .ant-card-body {
  height: 11rem;
}

.favorite-container {
  display: flex;
  justify-content: flex-end;
}
