.card-image {
  height: 40vh;
}

.card-text {
  text-align: center;
}

.ant-card-body {
  padding: 0;
  height: 13rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.antd-animal-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 3rem;
  border: 2px dashed turquoise;
  height: fit-content;
  text-align: center;
}

.favorite-container {
  display: flex;
  justify-content: flex-end;
}
