*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: teal;
  min-height: 10vh;
}

.route-links {
  color: white;
  

}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 4rem 1fr 3rem;
  height: 100vh;
  max-width: 1100px;
  margin: auto;
}

.pet-list {
  text-align: center;
   /* height: 100vh; */
  max-width: 1100px;
  margin: auto;
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.card-section > h3 {
  text-align: center;
  font-size: 2rem;
}


footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: white;
}

.logo-img {
  width: 40px;
  height: 40px;
  padding: 3px;
}
